:root{
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #F5F4F0;
    width: 1120px;
    margin: 80px auto;
}   

header{
    border-bottom: solid #D9D9D9 1px;
}
h4{

    size: 16px;
    color: #E1624F;
    margin-top: 0;
    margin-bottom: 8px;
}
h1{
    margin-top: 8px;
    margin-bottom: 40px;
    
}

header img{
    border-radius: 28px;
    height: 660px;
    width: 100%;
}
header p{
    text-align: center;
    font-style: italic;
    margin-bottom: 40px;
}

#header-main h4{
    margin-top: 64px;
}

#header-main h2{
    margin-top: 2px;
}

#header-main p{
    margin-top: 8px;
    margin-bottom: 64px;
}